<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "signup", media: "all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "login", media: "all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "forget", media: "all", "data-turbo-track": "reload" %>



 
    <%= javascript_importmap_tags %>
  </head>

  <body>
  
    <header class="header">
      <h2 class="logo">MyApp</h2>
      
      <nav class="nav">
        <% if user_signed_in? %>
          <span class="user-info">Logged in as <%= current_user.email %></span>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, 
                class: "btn btn-logout", data: { confirm: "Are you sure you want to log out?" } %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-signup" %>
          <%= link_to "Login", new_user_session_path, class: "btn btn-login" %>
        <% end %>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
